USE [master]
GO
/****** Object:  Database [BusConnect]    Script Date: 20/11/2022 19:44:21 ******/
CREATE DATABASE [BusConnect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusConnect', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BusConnect.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BusConnect_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BusConnect_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusConnect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusConnect]
GO
/****** Object:  Table [dbo].[Avisos]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avisos](
	[CodAviso] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nchar](50) NOT NULL,
	[Descripcion] [nchar](50) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[Linea] [int] NOT NULL,
 CONSTRAINT [PK_Avisos] PRIMARY KEY CLUSTERED 
(
	[CodAviso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colectivos]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colectivos](
	[CodColectivo] [int] IDENTITY(1,1) NOT NULL,
	[CodRamal] [int] NOT NULL,
	[Modelo] [nchar](50) NOT NULL,
	[Color] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Colectivos] PRIMARY KEY CLUSTERED 
(
	[CodColectivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[NroConsulta] [int] IDENTITY(1,1) NOT NULL,
	[Consulta] [nchar](50) NOT NULL,
	[ID_Usuario] [int] NULL,
	[Respuesta] [nchar](50) NULL,
 CONSTRAINT [PK_Consultas] PRIMARY KEY CLUSTERED 
(
	[NroConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[CodEmp] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmp] [nchar](20) NOT NULL,
	[PasswordEmp] [nchar](50) NOT NULL,
	[codUsuario] [int] NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[CodEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lineas]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lineas](
	[CodLinea] [int] NOT NULL,
	[CodEmpresa] [int] NOT NULL,
 CONSTRAINT [PK_Lineas] PRIMARY KEY CLUSTERED 
(
	[CodLinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ramales]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ramales](
	[CodRamal] [int] NOT NULL,
	[CodLinea] [int] NULL,
	[Descripcion] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RamalesUbi]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RamalesUbi](
	[CodRamal] [int] NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Latitud] [nvarchar](max) NULL,
	[Longitud] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suscripciones]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suscripciones](
	[Cod_usuario] [int] NOT NULL,
	[Linea] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 20/11/2022 19:44:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [nchar](30) NOT NULL,
	[Password] [nchar](12) NOT NULL,
	[Role] [int] NOT NULL,
	[Imagen] [image] NULL,
	[Cod_usuario] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Usuarios_1] PRIMARY KEY CLUSTERED 
(
	[Cod_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Avisos] ON 

INSERT [dbo].[Avisos] ([CodAviso], [Titulo], [Descripcion], [FechaInicio], [FechaFin], [Linea]) VALUES (2, N'hoy no andad                                      ', N'hoy no andan los colectivos                       ', CAST(N'2022-11-14T18:46:34.127' AS DateTime), CAST(N'2022-11-15T18:46:34.000' AS DateTime), 1)
INSERT [dbo].[Avisos] ([CodAviso], [Titulo], [Descripcion], [FechaInicio], [FechaFin], [Linea]) VALUES (3, N'a                                                 ', N'a                                                 ', CAST(N'2022-11-14T19:47:27.063' AS DateTime), CAST(N'2022-12-02T19:47:27.000' AS DateTime), 1)
INSERT [dbo].[Avisos] ([CodAviso], [Titulo], [Descripcion], [FechaInicio], [FechaFin], [Linea]) VALUES (4, N'b                                                 ', N'b                                                 ', CAST(N'2022-11-14T19:47:27.063' AS DateTime), CAST(N'2022-12-07T19:47:27.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Avisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Colectivos] ON 

INSERT [dbo].[Colectivos] ([CodColectivo], [CodRamal], [Modelo], [Color]) VALUES (1, 1, N'colectivo                                         ', N'verde                                             ')
SET IDENTITY_INSERT [dbo].[Colectivos] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultas] ON 

INSERT [dbo].[Consultas] ([NroConsulta], [Consulta], [ID_Usuario], [Respuesta]) VALUES (1, N'a                                                 ', 9, N'vacio                                             ')
INSERT [dbo].[Consultas] ([NroConsulta], [Consulta], [ID_Usuario], [Respuesta]) VALUES (2, N'b                                                 ', 9, N'vacio                                             ')
SET IDENTITY_INSERT [dbo].[Consultas] OFF
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([CodEmp], [NombreEmp], [PasswordEmp], [codUsuario]) VALUES (1012, N'Colectivos          ', N'a                                                 ', 4)
INSERT [dbo].[Empresas] ([CodEmp], [NombreEmp], [PasswordEmp], [codUsuario]) VALUES (1014, N'Empresa             ', N'a                                                 ', 11)
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
INSERT [dbo].[Lineas] ([CodLinea], [CodEmpresa]) VALUES (1, 1012)
INSERT [dbo].[Lineas] ([CodLinea], [CodEmpresa]) VALUES (2, 1012)
INSERT [dbo].[Lineas] ([CodLinea], [CodEmpresa]) VALUES (3, 1012)
GO
INSERT [dbo].[Ramales] ([CodRamal], [CodLinea], [Descripcion]) VALUES (99, 338, N'DESCRIPCION                                       ')
GO
INSERT [dbo].[RamalesUbi] ([CodRamal], [Descripcion], [Latitud], [Longitud]) VALUES (99, N'DESCRIPCION', N'-34,7271526486282', N'-58,2681369781494')
INSERT [dbo].[RamalesUbi] ([CodRamal], [Descripcion], [Latitud], [Longitud]) VALUES (99, N'DESCRIPCION', N'-34,7337833330534', N'-58,2592105865479')
INSERT [dbo].[RamalesUbi] ([CodRamal], [Descripcion], [Latitud], [Longitud]) VALUES (99, N'DESCRIPCION', N'-34,7273642744337', N'-58,2736301422119')
GO
INSERT [dbo].[suscripciones] ([Cod_usuario], [Linea]) VALUES (9, 1)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  StoredProcedure [dbo].[ActPassword]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[ActPassword]
@ID nchar(50),
@password nchar(12),
@newPass nchar(12)

as UPDATE Usuarios SET Password=@newPass 
WHERE ID=@ID AND Password=@password

GO
/****** Object:  StoredProcedure [dbo].[addImage]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[addImage]
@imagen image,
@ID nchar(50)
as UPDATE Usuarios SET Imagen=@imagen 
WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[editEmp]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[editEmp]
@cod int,
@id nchar(50),
@pass nchar(12)
as
update Empresas set NombreEmp=@id , PasswordEmp=@pass where @cod=codUsuario 
GO
/****** Object:  StoredProcedure [dbo].[edituserNF]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[edituserNF]
@id nchar (30),
@pass nchar(12),
@cod int
as update Usuarios set Password=@pass,ID=@id where @cod=Cod_usuario
GO
/****** Object:  StoredProcedure [dbo].[editUsers]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[editUsers]
@id nchar (30),
@pass nchar(12),
@imagen image,
@cod int
as update Usuarios set Password=@pass, Imagen=@imagen, ID=@id where @cod=Cod_usuario

GO
/****** Object:  StoredProcedure [dbo].[ElimEmp]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[ElimEmp]
@nombre nchar(30)

as 
delete from Empresas where NombreEmp=@nombre;
delete from Usuarios where ID=@nombre
GO
/****** Object:  StoredProcedure [dbo].[getEmpresa]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[getEmpresa]
@id nchar(20)
as 
select CodEmp
from Empresas where NombreEmp=@id
GO
/****** Object:  StoredProcedure [dbo].[getImage]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[getImage]

@ID nchar(50)
as
select Imagen from Usuarios where ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[GuardarUbicaciones]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GuardarUbicaciones]
@CodRamal int,
@Descripcion nvarchar(50),
@Latitud nvarchar(50),
@Longitud nvarchar(50)
as
begin
insert into RamalesUbi(CodRamal,Descripcion,Latitud,Longitud)values(@CodRamal,@Descripcion,@Latitud,@Longitud)
end
GO
/****** Object:  StoredProcedure [dbo].[logueo]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[logueo]
@ID char(50),
@Password char(12)
as
select Role,ID,Password, Cod_usuario from Usuarios
where ID=@ID and Password=@Password
GO
/****** Object:  StoredProcedure [dbo].[realizarConsulta]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[realizarConsulta]
@consulta nchar(50),
@id int,
@respuesta nchar(50)
as insert into Consultas ( Consulta, ID_Usuario,Respuesta) values (@consulta,@id,@respuesta)
GO
/****** Object:  StoredProcedure [dbo].[registro]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[registro]
@ID char(30),
@Password char(12),
@Role int,
@imagen image

as
begin
insert into Usuarios(ID, Password, Role, Imagen) values(@ID,@Password,@Role,@imagen);
end
GO
/****** Object:  StoredProcedure [dbo].[registroAnuncios]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[registroAnuncios]
@titulo char(50),
@descripcion char(50),
@fechai dateTime,
@fechafin dateTime,
@linea int
as
insert into Avisos(Titulo, Descripcion, FechaInicio, FechaFin, Linea) values(@titulo,@descripcion,@fechai, @fechafin, @linea)
GO
/****** Object:  StoredProcedure [dbo].[RegistroColectivo]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [dbo].[RegistroColectivo]
@codRamal int,
@Modelo nchar(50),
@color nchar(50)
as
insert into Colectivos(CodRamal,Modelo,Color) values (@codRamal,@Modelo,@color)
GO
/****** Object:  StoredProcedure [dbo].[registroEMP]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[registroEMP]
@NombreEmp char(50),
@PasswordEmp char(12),
@cod int
as
insert into Empresas(NombreEmp, PasswordEmp, codUsuario) values(@NombreEmp,@PasswordEmp, @cod)


GO
/****** Object:  StoredProcedure [dbo].[RegistroLinea]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[RegistroLinea]
@codEmpresa int,
@nro int
as
insert into Lineas (CodLinea,CodEmpresa) values (@nro,@codEmpresa)
GO
/****** Object:  StoredProcedure [dbo].[Registroramal]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[Registroramal]
@codRamal int,
@codLinea int,
@Descripcion nchar(50)
as
insert into Ramales(CodRamal,CodLinea,Descripcion) values (@codRamal,@codLinea,@Descripcion)
GO
/****** Object:  StoredProcedure [dbo].[responderConsulta]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[responderConsulta]
@nroConsulta int,
@respuesta nchar(50)
as
update Consultas set Respuesta=@respuesta where NroConsulta=@nroConsulta 
GO
/****** Object:  StoredProcedure [dbo].[suscribirse]    Script Date: 20/11/2022 19:44:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[suscribirse]
@id int,
@linea int
as insert into suscripciones (Cod_usuario,linea) values (@id, @linea)
GO
USE [master]
GO
